/* My Earth II palette (Coloors)*/
$clr-primary: #000102; // bg
$clr-secondary: #f6fbfe; // font
$clr-tertiary: #df3815;
$clr-quarternary: #f09e30;
$clr-quinary: #ffc300;
$clr-senary: #f09e305c;

/* Variable font paragraphs and headings */
$sans-text: "objektiv-variable", sans-serif;
$sans-text-wght: 450;
$sans-text-style: normal;
$sans-text-display: swap;
$sans-text-variation-reg: "wght" 400;
$sans-text-variation-md: "wght" 500;
$sans-text-variation-semibd: "wght" 600;
$sans-text-variation-bd: "wght" 700;
$sans-text-variation-xbd: "wght" 800;
$sans-text-variation-black: "wght" 900;

$sans-ui: "dorival-ui-variable", sans-serif;
$sans-ui-wght: 400;
$sans-ui-style: normal;
$sans-ui-display: swap;
$sans-ui-variation-reg:
    "slnt" 0,
    "wdth" 100,
    "wght" 400;
$sans-ui-variation-md:
    "slnt" 0,
    "wdth" 100,
    "wght" 500;
$sans-ui-variation-cond-reg:
    "slnt" 0,
    "wdth" 80,
    "wght" 400;
$sans-ui-variation-cond-md:
    "slnt" 0,
    "wdth" 80,
    "wght" 500;

$sans-head: "bebas-neue", sans-serif;
$sans-head-wght: 400;
$sans-head-style: normal;

/* Sizes, might get away with font clamp mixin for most body stuff though */
$h1: 80px;
$h1-lg: 100px;
$h1-xl: 140px;
$h1-xxl: 160px;

/* Padding */
$page-lpad: 20px;
$page-lpad-lg: 60px;
$page-lpad-xl: 60px;
$page-lpad-xxl: 70px;

$page-rpad: 20px;
$page-rpad-lg: 300px;
$page-rpad-xl: 300px;
$page-rpad-xxl: 460px;
