// Colors, created with ColorSpace, now settled

$primary: #18181b;
$secondary: #fafafa;
$accent1: #7a959a;
$accent2: #95b5b4;
$accent3: #1e1e1e;

// Fonts
$sans-ui: "Geist Variable", sans-serif;
$sans-ui-opt: auto;
$sans-ui-stl: normal;

$sans-text: "Geist Mono Variable", monospace;
$sans-text-opt: auto;
$sans-text-wgt: 500;
$sans-text-stl: normal;
